<!-- Institution Section -->
<section class="site-section institution-section section-focus" id="institution">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>{{ site.approaches-title }}</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p>{{ site.approaches-description }}</p>
      </div>

    </div>

    <!-- Institution Members -->
    <div class="row institution-members-container">

      {% for member in site.approaches %}

      <!-- Member -->
      <div class="col-md-4 col-md-push-0 col-sm-8 col-sm-push-2 col-xs-10 col-xs-push-1">
        <div class="institution-member">
            <div class="img-wrapper">
              <!-- img with fixed height equal to 200px -->
              <img src="{{ site.baseurl }}/images/icons/{{ member.icon }}"
                style="height: auto !important; width: auto !important; display: block; margin: 0 auto; max-height: 120px;">
            </div>
        </div>
        <div class="content text-center">
          <h3>{{ member.title }}</h3>
          <p>{{ member.description }}</p>
        </div>
      </div>

      {% endfor %}

    </div>

  </div>
</section>