<!-- Site Head -->

<head>
  <meta charset="utf-8" />
  <title>{{ site.title | strip_html }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- <link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon.png" title="Favicon" /> -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">

  <!-- Importing Styles -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">

  {% if page.layout == 'post' %}
    <!-- Blog Post Meta Tags -->
    <meta property="og:title" content="{{ page.title | strip_html }}" />
    <meta property="og:description" content="{{ page.blurb | strip_html }}" />
    <meta property="og:image" content="{{ site.url }}{{ page.splashimage }}" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:type" content="article" />
    <meta name="description" content="{{ page.blurb | strip_html }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ page.title | strip_html }}" />
    <meta name="twitter:description" content="{{ page.blurb | strip_html }}" />
    <meta name="twitter:image" content="{{ site.url }}{{ page.splashimage }}" />
  {% else %}
    <!-- Default Site Meta Tags -->
    <meta property="og:title" content="{{ site.title | strip_html }}" />
    <meta property="og:description" content="{{ site.header-title | strip_html }}" />
    <meta property="og:image" content="https://cepte.it/images/logo_black_with_background.png" />
    <meta property="og:url" content="https://cepte.it" />
    <meta property="og:type" content="website" />
  {% endif %}

</head>